/* line 13, ../sass/withIcon.scss */
* {
  position: relative;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Microsoft YaHei";
}

/* line 23, ../sass/withIcon.scss */
.rect-icon {
  width: 49px;
  height: 49px;
  background: #fff;
  border-radius: 50%;
  display: inline-block !important;
}

/* line 31, ../sass/withIcon.scss */
html,
body {
  height: 100%;
}

/* line 35, ../sass/withIcon.scss */
body {
  background: #52be7f;
  color: #fff;
}

/* line 65, ../sass/withIcon.scss */
.cn-wrapper {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 10;
  margin-top: -150px;
  margin-left: -150px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #52be7f;
  opacity: 0;
  transition: all .3s ease 0.3s;
  transform: scale(0.1);
  pointer-events: none;
  overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
/* line 84, ../sass/withIcon.scss */
.cn-wrapper:after {
  content: ".";
  display: block;
  width: 139.38489px;
  height: 139.38489px;
  position: absolute;
  left: 50%;
  margin-left: -69.69244px;
  top: 50%;
  margin-top: -69.69244px;
  border-radius: 50%;
  z-index: 10;
  color: transparent;
  box-sizing: border-box;
  border: 3px solid #52be7f;
}

/* line 102, ../sass/withIcon.scss */
.opened-nav {
  border-radius: 50%;
  opacity: 1;
  transition: all .3s ease;
  transform: scale(1);
  pointer-events: auto;
}

/* line 110, ../sass/withIcon.scss */
.cn-wrapper li {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  transition: all .3s ease;
  transform: rotate(76deg) skew(38.57143deg);
  border: 1px solid transparent;
  transform-origin: 100% 100%;
  pointer-events: none;
}

/* line 122, ../sass/withIcon.scss */
.cn-wrapper li a {
  position: absolute;
  padding-top: 10px;
  right: -150px;
  bottom: -150px;
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #429a67;
  background: radial-gradient(rgba(0, 0, 0, 0) 32%, #515151 32%);
  color: #fff;
  text-align: center;
  text-decoration: none;
  transform: skew(-38.57143deg) rotate(-64.28571deg) scale(1);
  backface-visibility: hidden;
  pointer-events: auto;
}

/* line 141, ../sass/withIcon.scss */
.cn-wrapper li a span.text {
  margin-top: -5px;
  display: block;
  font-size: 13px;
}

/* line 152, ../sass/withIcon.scss */
.cn-wrapper li a:hover,
.cn-wrapper li a:active,
.cn-wrapper li a:focus {
  background: radial-gradient(rgba(0, 0, 0, 0) 32%, #449e6a 32%);
}

/* line 157, ../sass/withIcon.scss */
.cn-wrapper li a:focus {
  position: fixed;
  /* fix the displacement bug in webkit browsers when using tab key */
}

/* line 161, ../sass/withIcon.scss */
.opened-nav li {
  transition: all .3s ease .3s;
}

/* line 179, ../sass/withIcon.scss */
.opened-nav li:first-child {
  transform: rotate(-45deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:first-child .reverse {
  display: inline-block;
  transform: rotate(109.28571deg);
}

/* line 183, ../sass/withIcon.scss */
.opened-nav li:nth-child(2) {
  transform: rotate(6.42857deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(2) .reverse {
  display: inline-block;
  transform: rotate(57.85714deg);
}

/* line 187, ../sass/withIcon.scss */
.opened-nav li:nth-child(3) {
  transform: rotate(57.85714deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(3) .reverse {
  display: inline-block;
  transform: rotate(6.42857deg);
}

/* line 191, ../sass/withIcon.scss */
.opened-nav li:nth-child(4) {
  transform: rotate(109.28571deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(4) .reverse {
  display: inline-block;
  transform: rotate(-45deg);
}

/* line 195, ../sass/withIcon.scss */
.opened-nav li:nth-child(5) {
  transform: rotate(160.71429deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(5) .reverse {
  display: inline-block;
  transform: rotate(-96.42857deg);
}

/* line 199, ../sass/withIcon.scss */
.opened-nav li:nth-child(6) {
  transform: rotate(212.14286deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(6) .reverse {
  display: inline-block;
  transform: rotate(-147.85714deg);
}

/* line 203, ../sass/withIcon.scss */
.opened-nav li:nth-child(7) {
  transform: rotate(263.57143deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(7) .reverse {
  display: inline-block;
  transform: rotate(-199.28571deg);
}

/* line 207, ../sass/withIcon.scss */
.opened-nav li:nth-child(8) {
  transform: rotate(315deg) skew(38.57143deg);
}
/* line 173, ../sass/withIcon.scss */
.opened-nav li:nth-child(8) .reverse {
  display: inline-block;
  transform: rotate(-250.71429deg);
}

/* line 212, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper {
  overflow: hidden;
  margin: 10em auto;
  padding: .5em;
  text-align: center;
}

/* line 219, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper ul {
  display: inline-block;
}

/* line 223, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper li {
  float: left;
  width: 5em;
  height: 5em;
  background-color: #fff;
  text-align: center;
  font-size: 1em;
  line-height: 5em;
}

/* line 233, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper li a {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

/* line 241, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
  background-color: #f8f8f8;
}

/* line 247, ../sass/withIcon.scss */
.no-csstransforms .cn-wrapper li.active a {
  background-color: #6F325C;
  color: #fff;
}

/* line 252, ../sass/withIcon.scss */
.no-csstransforms .cn-button {
  display: none;
}

@media only screen and (max-width: 620px) {
  /* line 257, ../sass/withIcon.scss */
  .no-csstransforms li {
    width: 4em;
    height: 4em;
    line-height: 4em;
  }
}
@media only screen and (max-width: 500px) {
  /* line 265, ../sass/withIcon.scss */
  .no-ccstransforms .cn-wrapper {
    padding: .5em;
  }

  /* line 269, ../sass/withIcon.scss */
  .no-csstransforms .cn-wrapper li {
    width: 4em;
    height: 4em;
    font-size: .9em;
    line-height: 4em;
  }
}
@media only screen and (max-width: 480px) {
  /* line 278, ../sass/withIcon.scss */
  .cn-wrapper {
    font-size: .68em;
  }

  /* line 282, ../sass/withIcon.scss */
  .cn-button {
    font-size: 1em;
  }
}
@media only screen and (max-width: 420px) {
  /* line 288, ../sass/withIcon.scss */
  .no-csstransforms .cn-wrapper li {
    width: 100%;
    height: 3em;
    line-height: 3em;
  }
}
